h1,
p,
ul {
    font-family: 'Montserrat', sans-serif;
    background: rgb(241, 237, 237);
}

body {
    background-color: rgb(163, 157, 157);
}

ul,
p {
    text-align: justify;
    font-size: 20px;
}